body {
  background: #f5f5f5;
}

#content {
  width: 550px;
  background: white;
  text-align: center;
  border: solid 1px gray;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #CCC;
  margin: auto;
  padding: 15px;
} 

#content h1 {
  margin: 0px;
  margin-bottom: 15px;
}

#form-document input {
  font-size: 20px;
  font-style: italic;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #CCC;
}

#form-document input.url-field { width: 275px; }

#documents {
  border-top: 1px solid gray;
  text-align: left;
  margin-top: 18px;
  padding: 10px 5px;
}

.document .field {
  font-size: 22px;
  font-style: italic;
}

.document .number-field { margin-right: 5px; }

.document .status-field { 
  float: right;
  font-weight: bold;
  color: green; 
}
